{% extends 'base.html' %}


{% block title %}
    Login
{% endblock %}


{% block content %}
    <div class="w-100 d-inline-block text-center mb-2" style="height: 120px; background-color: #F0F8FF">
            <h1 class="mt-4">Login Page</h1>
    </div>
    <div class="mx-auto d-block text-center mt-2" style="width: 400px; height: 300px;">
        <form class="" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
