{% extends 'base.html' %}


{% block title %}
    Main page
{% endblock %}


{% block content %}
    {% include 'includes/header.html' %}

    {% include 'includes/finaly_navbar.html' %}

    {% for company in companys %}
        <div class="list-group">
            <a href="{% url 'info' pk=company.id %}"
               style="height: 70px; background-color: #F5F5F5; font-size: 24px;"
               class="list-group-item shadow m-1 text-center text-uppercase">
                <p>"{{ company.name_of_company }}"</p>
            </a>
        </div>
    {% endfor %}

    {% include 'includes/paginate.html' %}
{% endblock %}