{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
    Detail {{ company.name_of_company }}
{% endblock %}


{% block content %}
    {% include 'includes/header.html' %}

    {% include 'includes/finaly_navbar.html' %}

    {% thumbnail company.photo '250x250' crop='center' as im %}
        <img class="" style="position: absolute; top: 195px; left: 10px" src="{{ im.url }}" alt="Company photo">
    {% endthumbnail %}

    <div>
        <p style="position: relative; left: 300px"><span class="h4">Name of company:</span> <span style="font-size: 20px; color: #800000">{{ company.name_of_company }}</span></p>
        <p style="position: relative; left: 300px"><span class="h6">Name of diretcor:</span> <span style="font-size: 20px; color: #800000">{{ company.director_name }}</span></p>
        <p style="position: relative; left: 300px"><span class="h6">Surname of director:</span> <span style="font-size: 20px; color: #800000">{{ company.director_surname }}</span></p>
        <p style="position: relative; left: 300px"><span class="h6">Create date:</span> <span style="font-size: 20px; color: #800000">{{ company.create_at }}</span></p>
        <p style="position: relative; left: 300px"><span class="h6">Location:</span> <span style="font-size: 20px; color: #800000">{{ company.location }}</span></p>
        {% for phone in company.phone_set.all %}
            <p style="position: relative; left: 300px"><span class="h6">Phone number:</span> <span style="font-size: 20px; color: #800000">{{ phone.phone_number }}</span></p>
        {% endfor %}
        {% for email in company.email_set.all %}
            <p style="position: relative; left: 300px"><span class="h6">Email:</span> <span style="font-size: 20px; color: #800000">{{ email.email_address }}</span></p>
        {% endfor %}
        {% if company.update_at %}
            <p style="position: relative; left: 300px"><span class="h6">Edited:</span> <span style="font-size: 20px; color: dimgrey">{{ company.update_at }}</span></p>
        {% endif %}

        {% if user.is_staff and user == company.user%}
            <a class="btn mb-3 btn-warning btn-sm" role="button"
               style="position: relative; width: 9rem;left: 300px;"
               href="{% url 'update_company' pk=company.id%}">Update</a>

            <a class="btn mb-3 btn-danger btn-sm" role="button"
               style="position: relative; width: 9rem;left: 300px;"
               href="{% url 'delete_company' pk=company.id%}">Delete</a>
        {% endif %}

        <h3 class="text-center">Description</h3>
        <p>{{ company.about_company | safe }}</p>
    </div>

    <h3 class="text-center mb-3">Company's projects</h3>
    {% if company.project_set.all %}
        {% include 'includes/add_project_button.html' %}

        {% for project in company.project_set.all %}
                <div class="list-group mb-2">
                    <a href="{% url 'about_project' pk=project.id %}"
                        {% if project.status == '1' %}
                            style="background-color: #EEFFF4; font-size: 20px;"
                        {% elif project.status == '2'%}
                            style="background-color: #FFFFDF; font-size: 20px;"
                        {% else %}
                            style="background-color: #FFDCCB; font-size: 20px;"
                        {% endif %}
                       class="list-group-item shadow m-1 text-center">
                        <p><span class="text-uppercase">&#171; {{ project.name }} &#187;</span></p>
                    </a>
                </div>
        {% endfor %}
    {% else %}
        {% include 'includes/add_project_button.html' %}

        <p class="text-center">This company has not completed any projects yet and has no projects in development</p>
    {% endif %}

{#    {% include 'includes/paginate.html' %}#}
{% endblock %}