{% extends 'base.html' %}

{% block title  %}Project info{% endblock %}

{% block content %}
    {% include 'includes/header.html' %}

    {% include 'includes/finaly_navbar.html' %}

    <div class="text-center">
        <p><span style="color: dimgrey; font-size: 15px;">Project name:</span> <span style="font-size: 17px;">{{ project.name }}</span></p>
        {% if user.is_staff %}
            <p><span style="color: dimgrey;">Budget:</span><br> <span class="text-decoration-underline" style="font-size: 17px;">{{ project.price }} $</span></p>
        {% endif %}
        {% if project.status == '1' %}
            <p><span style="color: dimgrey;">Status:</span> <span class="text-success" style="font-size: 17px;">Completed</span></p>
        {% elif project.status == '2' %}
            <p><span style="color: dimgrey;">Status:</span> <span class="text-warning" style="font-size: 17px;">Project under development</span></p>
        {% else %}
            <p><span style="color: dimgrey;">Status:</span> <span class="text-danger" style="font-size: 17px;">Overdue</span></p>
        {% endif %}
        <p><span style="color: dimgrey;">Description:</span><br> <span style="font-size: 17px;">{{ project.description|safe }}</span></p>
        <p><span style="color: dimgrey;">Start date:</span> <span style="font-size: 17px;">{{ project.date_start }}</span></p>
        <p><span style="color: dimgrey;">End date:</span> <span style="font-size: 17px;">{{ project.date_end }}</span></p>
    </div>

    {% if user.is_staff and user == project.user%}
    <a class="btn mb-3 btn-warning btn-sm" role="button"
       style="position: relative; width: 9rem; left: 493px;"
       href="{% url 'update_project' pk=project.id%}">Update project</a>

    <a class="btn mb-3 btn-danger btn-sm" role="button"
       style="position: relative; width: 9rem; left: 493px;"
       href="{% url 'delete_project' pk=project.id%}">Delete project</a>
    {% endif %}

    {% if user.is_staff %}
    <div>
        <p class="text-center h3 mt-4">Project feedback</p>
    </div>
        <a class="btn mb-3 btn-info btn-sm" role="button"
           style="position: relative; width: 9rem; left: 570px;"
           href="{% url 'create_interaction' pk=project.id%}">Add feedback</a>

    {% if not project.interaction_set.all %}
        <p class="text-center">The company currently has no reviews.</p>
    {% else %}
        {% for interaction in object_list %}
            <div class="list-group mb-2">
                <a href="{% url 'about_interaction' pk=interaction.id %}" style="background-color: #F7F9FF;"
                   class="list-group-item shadow m-1 text-center">
                    {% include 'includes/communication method.html' %}
                    {% include 'includes/rating.html' %}
                    <p>{{ interaction.description|safe }}</p>
                    <p><span style="font-size: 14px;">{{ interaction.publication_date|date:"D d.m.y H:i" }}</span></p>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    {% endif %}

    {% include 'includes/paginate.html' %}
{% endblock %}