{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
    Profile
{% endblock %}


{% block content %}
    {% include 'includes/header.html' %}

    {% include 'includes/finaly_navbar.html' %}

    <div class="d-inline-block rounded-5 mx-auto d-block" style="width: 50%; height: 430px; background-color: #F5F5F5">
        <div style="position: relative; left: 350px; margin-top: 10px; font-size: 18px">
            <p><span class="h6">First name:</span> <span style="color: #808000">{{ user.first_name }}</span></p>
            <p><span class="h6">Last name:</span> <span style="color: #808000">{{ user.last_name }}</span></p>
            <p><span class="h6">Username:</span> <span style="color: #808000">{{ user.username }}</span></p>
            <p><span class="h6">Birthday:</span> <span style="color: #808000">{{ user.birthday }}</span></p>
            <p><span class="h6">Location:</span> <span style="color: #808000">{{ user.location }}</span></p>
            <p><span class="h6">Email:</span> <span style="color: #808000">{{ user.email }}</span></p>
            <p><span class="h6">Staff:</span> <span style="color: #808000">{{ user.is_staff }}</span></p>
            <p><span class="h6">Date joined:</span> <span style="color: #808000">{{ user.date_joined }}</span></p>
        </div>
        {% thumbnail user.photo '330x430' crop='center' as im %}
            <img class="rounded-5" style="position: absolute; top: 195px;" src="{{ im.url }}" alt="Person Photo">
        {% endthumbnail %}

            <a class="btn mb-3 btn-warning btn-sm" role="button"
               style="position: relative; width: 9rem; left: 410px;"
               href="{% url 'update_profile' %}">Update</a>

            <a class="btn mb-3 btn-danger btn-sm" role="button"
               style="position: relative; width: 9rem; left: 262px; top: 40px;"
               href="{% url 'delete_profile' %}">Delete</a>

    </div>

{% endblock %}